.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  color: #F9FAF8;
  background-color: #1F2937;
}
/*.menu {
  display: flex;
  justify-content: space-between;
  flex: 1;
}*/
.logo {
  font-size: 24px;
  font-weight: bold;
  padding-left: 35px;
}
.hlinks {
  display: flex;
  flex: 1;
  justify-content: end;
  font-size: 18px;
  color: #E5E7EB;
}
.ul-style1 { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style-type: none;
  padding-right: 35px;
}
.mid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8
}
.h1-mid {
  color: #F9FAF8;
  font-size: 48px;
  padding-left: 35px;
  font-weight: bolder;
}
.p-mid {
  font-size: 18px;
  padding-left: 35px;
  color: #E5E7EB;
  width: 50%;
}
.mid-first-column {
  display: flex;
  flex-direction: column;
}
.mid-second-column {
  display: flex;
  color: grey;
  background-color: #3882F6;
  border: 1px solid;
  height: 200px;
  width: 500px;
  margin-right: 75px;
}
.img-second {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 55px;
}
.third-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ul-third {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  list-style-type: none;
}
.h-third {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}
.images-third {
  display: flex;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  color: #F9FAF8;
}

.ul-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  list-style-type: none;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 35px;
  width: 65px;
  height: 30px;
  box-sizing: content-box;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  border: 0px;
  /*border-color: #F9FAF8;*/
}

.button2 {
  background-color: #3882F6;
  color: #F9FAF8;
  width: 65px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #F9FAF8;
  box-sizing: content-box;
}

.img-style2 {
  border: 1px solid;
  height: 100px;
  width: 100px;
  border-color: #3882F6;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  color: #1F2937;
}
.quote-div1 {
  font-size: 36px; 
  color: #1F2937;
  padding-left: 35px;
  padding-right: 35px;
}
.quote-div2 {
  font-size: 24px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: bolder;
}
.b-quote {
  display: flex;
  justify-content: end;

}